@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montsrrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montsrrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montsrrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Fraunces-Regular;
  src: url(../fonts/Fraunces/Fraunces_9pt-Bold.ttf);
}

@font-face {
  font-family: Fraunces-Medium;
  src: url(../fonts/Fraunces/Fraunces_72pt-Bold.ttf);
}

@font-face {
  font-family: Fraunces-Bold;
  src: url(../fonts/Fraunces/Fraunces_144pt-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --title-des: #4a4040;
  --heading: #000;
  --price-btn: #3d8168;
  --btn-color: #fff;
  --btn-hover: #1b402e;
}

body {
  background: #f3eae3;
}
.wrapper {
  font-family: "Montserrat-Regular", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container */
.container {
  display: flex;
  width: 100%;
  max-width: 967px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #f5f5f5;
}

/* banner img */
.container__banner-img,
.container__details {
  width: 50%;
}
/* .container__banner-img img {
  object-fit: contain;
} */

picture {
  display: flex;
}
/* container-details */
.container__details {
  padding: 45px 73px 109px 69px;
  background: #f5f5f5;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0;
}

/* title */
.container__details .container__details__title {
  letter-spacing: 4.8px;
  color: var(--title-des);
  font-weight: 400;
  line-height: 21px;
}

.container__details__heading {
  margin-top: 27px;
  max-width: 343px;
  text-transform: capitalize;
  font-family: "Fraunces-Regular", serif;
  font-weight: 700;
  max-width: 200px;
  font-size: 32px;
  line-height: 42px;
}

.container__details__description {
  margin-top: 14px;
  max-width: 342px;
  font-weight: 500;
  color: var(--title-des);
  font-size: 20px;
  
}

.container__details__price {
  margin-top: 35px;
  color: var(--price-btn);
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
}

.container__details__price sup {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--title-des);
  text-decoration: line-through;
  font-weight: 400;
}

.container__details__btn {
  margin-top: 40px;
  background-color: var(--price-btn);
  padding-top: 16px;
  padding-bottom: 19px;
  color: var(--btn-color);
  border-radius: 10px;
  max-width: 292px;
  /* padding-left: 60px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
  color: white;
}
.container__details__btn:hover {
  background-color: var(--btn-hover);
  cursor: pointer;
}

 {
  .wrapper {
    margin: 36px 36px 27px 27px;
    /* min-width: 375px; */
  }
  .container {
    flex-direction: column;
    /* border-radius: 20px; */
  }
  .container__banner-img {
    width: 100%;
    object-fit: cover;
    /* display: flex; */
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  */
  }
  .container__banner-img img {
    width: 100%;
    display: flex;
  }

  .container__details {
    width: 100%;
    padding: 28px 17px 41px 12px;
  }

  .container__details__title {
    font-size: 12px;
    letter-spacing: 3.6px;
    font-weight: 400;
    line-height: 1px;
  }

  .container__details .container__details__heading {
    max-width: 100%;
    /* min-width: 290px; */
    margin-top: 6px;
  }

  .container__details .container__details__heading h1 {
    max-width: 100%;
    line-height: 39.46px;
  }

  .container__details .container__details__description {
    /* min-width: 290px; */
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
  }
  .container__details__btn {
    margin-top: 31px;
    max-width: 100%;
  }
  .container__details__price__actual p {
    line-height: 39.46px;
  }
  .container__details__price__actual sup {
    line-height: 17.07px;
  }
}
