.fixed-layout {
  max-width: 1180px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}

.flex--justify-start {
  justify-content: flex-start;
}

.flex--justify-end {
  justify-content: flex-end;
}

.flex--justify-center {
  justify-content: center;
}

.flex--justify-space-between {
  justify-content: space-between;
}

.flex--justify-space-around {
  justify-content: space-around;
}

.flex--justify-space-evenly {
  justify-content: space-evenly;
}

.flex--align-start {
  align-items: flex-start;
}

.flex--align-end {
  align-items: flex-end;
}

.flex--align-center {
  align-items: center;
}

.flex--align-baseline {
  align-items: baseline;
}

.flex--align-stretch {
  align-items: stretch;
}
.flex-gap-10 {
  gap: 10px;
}
.flex-gap-17 {
  gap: 17px;
}
.grid-container {
  display: grid;
}
