@font-face {
  font-family: PoppinsRegular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: PoppinsMedium;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: RobotoCondensedRegular;
  src: url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: RobotoCondensedBold;
  src: url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
  font-weight: 700;
}

.poppins__regular {
  font-family: PoppinsRegular;
}
.poppins__medium {
  font-family: PoppinsMedium;
  font-weight: 900;
}
.poppins__semi {
  font-family: PoppinsSemiBold;
}
.roboto__regular {
  font-family: RobotoCondensedRegular;
}
.roboto__bold {
  font-family: RobotoCondensedBold;
}
/* font size */
.fs-12 {
  font-size: 12px;
}
.fs-9 {
  font-size: 9px;
}
.fs-10 {
  font-size: 10px;
}
.fs-13 {
  font-size: 13px;
}
.fs-11 {
  font-size: 11px;
}
.fs-19 {
  font-size: 19px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 14px;
}
.fs-17 {
  font-size: 17px;
}
.fs-16 {
  font-size: 16px;
}
/* line height */
.lh-12 {
  line-height: 12px;
}
.lh-15 {
  line-height: 15px;
}
.lh-16 {
  line-height: 16px;
}
.lh-17 {
  line-height: 17px;
}
.lh-20 {
  line-height: 20px;
}
.lh-21 {
  line-height: 21px;
}
.lh-23 {
  line-height: 23px;
}
.lh-24 {
  line-height: 24px;
}
.lh-25 {
  line-height: 25px;
}
.lh-26 {
  line-height: 26px;
}
