header {
  background-color: var(--primary-bg);
}

header a {
  text-decoration: none;
  color: var(--primary-font);
}

.nav__menu {
  gap: 40px;
}

.nav__menuWrap {
  display: flex;
  gap: 48px;
}

.nav__btn {
  border: 2px solid var(--active-btn);
  border-radius: 5px;
}

header button {
  padding: 10px;
  box-shadow: 0px 8px 8px var(--sign-search-shadow);
  display: flex;
  align-items: center;
}

.nav__elements:not(:last-child):hover {
  font-family: PoppinsSemiBold;
  padding-bottom: 7.5px;
  color: var(--active-btn);
  font-family: PoppinsSemiBold;
  font-weight: 900;
  border-bottom: 3px solid var(--active-btn);
}

.sign-in {
  color: var(--active-btn);
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  header {
    width: 100%;
  }

  nav {
    background-color: var(--primary-bg);
    padding: 0 16px;
  }

  .hamburger-menu {
    display: flex;
    z-index: 2;
  }

  .nav__menuWrap {
    width: 100%;
    background-image: linear-gradient(
      to right,
      var(--grad-1-left),
      var(--grad-1-right)
    );
    position: absolute;
    top: -100%;
    left: 0;
    transition: all 0.6s linear;
    z-index: 1;
  }
  .nav__elements a {
    color: white !important;
  }
  .nav__btn span {
    display: none;
  }

  .nav__menu {
    overflow: hidden;
  }

  .show {
    height: 100dvh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
}
