.mt-24 {
  margin-top: 24px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-6 {
  margin-top: 6px;
}
.mt-12 {
  margin-top: 8px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mt-17 {
  margin-top: 17px;
}
.mt-20{
  margin-top: 20px;
}