.search__section {
  background-color: var(--primary-bg);
}

.grid-container {
  display: grid;
  grid-template-areas: "query query query query query view " "filter filter event event event event ";
  /* grid-gap: 42px 10px; */
  align-items: center;
  padding-top: 47px;
}

.search__filter--mark {
  gap: 23px;
}
.search__filter--star {
  background: #ffffff;
  filter: drop-shadow(3px 6px 12px var(--star-shadow));
  border-radius: 50%;
  padding: 7px;
}
.search__query {
  grid-area: query;
  gap: 43px;
  margin-bottom: 30px;
}
.search__query input {
  width: 100%;
  border: none;
  padding-bottom: 8px;
  border-bottom: 3px solid red;
}

.search__query input[type="text"] {
  font-size: 17px;
}
.search__query select {
  width: 100%;
  max-width: 110px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 3px solid red;
}
/* 2 */
.search__view {
  grid-area: view;
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  margin-left: 5px;
  margin-bottom: 30px;
}

/* 3 */
.search__filter {
  grid-area: filter;
  display: flex;
  gap: 111px;
  align-items: center;
  /* justify-content: space-between; */
}
.search__filter select {
  width: 100%;
  max-width: 144px;
  border: none;
  /* border-bottom: 3px solid black; */
  /* font-size: 16px; */
  color: blue;
}
/* 4 */
.search__event {
  grid-area: event;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .grid-container {
    grid-template-areas: "query query" "event event" "filter view";
    width: 100%;
    padding: 29.5px 22px 0 16px;
  }

  .search__query {
    margin-bottom: 28px;
    gap: 23px;
  }
  .grid-container .search__view{
   gap: 26px;
   align-items: center;
   margin: 0;
  }

  .search__filter{
    justify-content: space-between;
  }
  .search__filter select{
   font-size: 15px;
  }
  .search__filter--mark > span {
    display: none;
  }

  .search__event {
    margin-bottom: 26px;
  }
}
