@import url("./color.css");
@import url("./font.css");
@import url("./base.css");
@import url("./header.css");
@import url("./media.css");
@import url("./padding.css");
@import url("./margin.css");
@import url("./search.css");
@import url("./listings.css");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  /* background-color: var(--body-bg); */
  background-color: pink;
  overflow-x: hidden;
  box-sizing: border-box;
}
