#footer {
  background-color: var(--background-black);
}
.footer {
  display: flex;
  gap: 179px;
  padding: 50px 0px 9px 0px;
  border-top: 1px solid #666666;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-img {
  width: 40px;
}

.logo {
  font-size: 28px;
  line-height: 35px;
  font-weight: 700;
  color: white;
}

.footer__social {
  display: flex;
  gap: 16px;
  margin-top: 37px;
}

.footer__social img {
  width: 40px;
}

.footer__links {
  color: white;
  text-transform: capitalize;
}

.links__head {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.links__list {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
}
