.headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.heading {
  font-size: 36px;
  line-height: 32px;
  font-weight: 600;
  color: var(--paragraph-text);
  text-align: center;
}

.heading__description {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: var(--paragraph-text);
  text-align: center;
  margin-top: 16px;
}
