#subscribe {
  background-color: var(--background-black);
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 40px;
  padding-bottom: 46px;
}

.subscribe__heading {
  font-size: 36px;
  line-height: 32px;
  font-weight: 600;
}

.subscribe__description {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin-top: 24px;
}

.subscribe__form {
  display: flex;
  gap: 13px;
  margin-top: 32px;
}

.subscribe__form input {
  max-width: 282px;
  padding: 11px 16px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.subscribe__form input::placeholder {
  color: #737b7d;
}
