.flex-container {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}

.flex--justify-start {
  justify-content: flex-start;
}

.flex--justify-end {
  justify-content: flex-end;
}

.flex--justify-center {
  justify-content: center;
}

.flex--justify-space-between {
  justify-content: space-between;
}

.flex--justify-space-around {
  justify-content: space-around;
}

.flex--justify-space-evenly {
  justify-content: space-evenly;
}

.flex--align-start {
  align-items: flex-start;
}

.flex--align-end {
  align-items: flex-end;
}

.flex--align-center {
  align-items: center;
}

.flex--align-baseline {
  align-items: baseline;
}

.flex--align-stretch {
  align-items: stretch;
}
.flex-gap-10 {
  gap: 10px;
}
.flex-gap-17 {
  gap: 17px;
}

/* margin */
.mt-24 {
  margin-top: 24px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-6 {
  margin-top: 6px;
}
.mt-12 {
  margin-top: 8px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mt-17 {
  margin-top: 17px;
}
.mt-20 {
  margin-top: 20px;
}

.mt-44 {
  margin-top: 44px;
}

/* padding */
.pt-35 {
  padding-top: 35px;
}

.pt-33 {
  padding-top: 33px;
}
.pl-6 {
  padding-left: 6px;
}
